{% load static %}
{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="{% static 'images/dashboard_img/book_ride.svg' %}" alt="Book Ride Image" class="card-image">
            <div class="card-content">
                <h2>Book Ride</h2>
                <p>Book your ride now.</p>
                <a href="{% url 'book_ride' %}" class="btn">Book Now</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/dashboard_img/rent_vehicle.jpg' %}" alt="Rent Vehicle Image" class="card-image">
            <div class="card-content">
                <h2>Rent Vehicle</h2>
                <p>Rent a vehicle for your trip.</p>
                <a href="{% url 'rent_vehicle' %}" class="btn">Rent Now</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/dashboard_img/post_ride.jpg' %}" alt="Post Ride Image" class="card-image">
            <div class="card-content">
                <h2>Post Ride</h2>
                <p>Share your ride details.</p>
                <a href="{% url 'post_ride' %}" class="btn">Post Now</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/dashboard_img/recent_trip.jpg' %}" alt="Recent Trips Image" class="card-image">
            <div class="card-content">
                <h2>Recent Trips</h2>
                <p>View your recent trips.</p>
                <a href="{%url 'recent_trips'%}" class="btn">View Trips</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/dashboard_img/post_vehicle.jpg' %}" alt="Post Vehicle Image" class="card-image">
            <div class="card-content">
                <h2>Post Vehicle</h2>
                <p>Share your vehicle with others.</p>
                <a href="{%url 'post_vehicle'%}" class="btn">Post Now</a>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'images/dashboard_img/my_bookings.jpg' %}" alt="Profile Image" class="card-image">
            <div class="card-content">
                <h2>My Booking</h2>
                <p>View your Booking.</p>
                <a href="{%url 'booking_page'%}" class="btn">View Profile</a>
            </div>
        </div>
    </div>

</body>
</html>
