body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    background: url("../images/back_dash.gif") no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 600px;
}

.search-container {
    background-color: rgba(255, 218, 125, 0.654);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.form-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #feea81;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn-search {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}

.ride-results {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.ride-item {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #111111;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(246, 191, 50, 0.578);
}

.ride-info {
    flex: 1;
    padding: 20px;
}

.ride-image {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.car-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ride-info h3 {
    margin-top: 0;
    color: #333;
}

.ride-info p {
    margin: 10px 0;
    color: #666;
}

.btn-book {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-book:hover {
    background-color: #45a049;
}


@media (max-width: 768px) {
    .search-container {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .form-group, .btn-search {
        max-width: 100%;
    }
}